


.background{
width:1280px;
height:200;
background-color:#58ACFA;
background-position:center; 
}



.upperContainer{
    width:1280px;height:80px;
    background-color:#96CDDC;
    border:1px ;
    border-radius:10px;
}
.lowerContainer{
    width:1280px;height:700px;
    background-image:url('/Views/Images/westernBackground.jpg');
    background-repeat:no-repeat;
    background-position:center;
}

.left{
    margin-left: 50px;
}

.right{
    margin-right:100px;
}