<div class="div"> 
  <div class="upperContainer">

    
      <span>
        <img src="/Views/Images/westernEngLogo.png" >
      </span>
         <span><b>ECE9065B</b></span>  
 
      <span>
        <input type="image" ng-click="signinButton()" style="width:100px;height:40px;" src="/Views/Images/login-button.png">
      </span>
      <!--<span>The authResult is : {{authResult['code']}}</span>-->
    
        
  </div>
</div>


<div class="lowerContainer">
  <a href="#/Posting.html"><b>Posting page</b></a>
</div>



