<div> 
        
  <div class="upperContainer">
   <span>
     <img src="/Views/Images/westernEngLogo.png" >
   </span>
   <span><b>ECE9065B</b></span>   
   <span margin-right="50px">
     <input type="image" ng-click="logout()" style="width:100px;height:40px;" src="/Views/Images/logout.png">
   </span>
  </div>

<div class="lowerContainer">
<!--social media check box-->
  <div style="float:left;padding-top:100px;padding-left:900px;position:absolute;">
    <span><input type="checkbox">&nbsp&nbsp&nbsp
      <button class="btn btn-primary">social media</button>
    </span>
    </br>
    </br>
    </br>
    <span><input type="checkbox">&nbsp&nbsp&nbsp
      <button class="btn btn-primary">social media</button>
    </span>
    </br>
    </br>
    </br>
    <span><input type="checkbox">&nbsp&nbsp&nbsp
      <button class="btn btn-primary">social media</button>
    </span>
  </div>
      
        
<!--drop-down menu-->
    
 <div class="btn-group" uib-dropdown>
    <button id="split-button" type="button" class="btn btn-danger">Select an option</button>
    <button type="button" class="btn btn-danger" uib-dropdown-toggle>
      <span class="caret"></span>
      <span class="sr-only"></span>
    </button>
      
    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
      <li role="menuitem"><a href="#/">Select login page</a></li>
      <li role="menuitem"><a href="#/Posting.html">Select Posting page</a></li>
      <li role="menuitem"><a href="#/PostsTracking.html">Select PostsTracking page</a></li>
      <li role="menuitem"><a href="#/SpecificPostComments.html">Select SpecificPostComments page</a></li>
    </ul>
  </div>



<!--comments-->
  <div style="width:1280px; height:350px; ">
    <div style="float:left;padding-top:80px;padding-left:350px;width:500px;height:300px;position:absolute;">
      <p><span font-size="xx-large" align="center">Comments</span></p> 
      <textarea style="width:400px; height:250px; font-size:20px; " ng-model="content"> </textarea>
    </div>
  </div>
  <div style="padding-left:350px;padding-top:370px;">
  </div>
    
</div>

</div>

